@using App.Domain.Core.MoayeneFani.Cars.Enum;
@using App.Domain.Core.MoayeneFani.Cars.Entities;
@model Car
@{
	ViewData["Title"] = "Add Car";
}
<h2>AddCar</h2>
<style>
	body {
		direction: rtl;
		font-family: 'IRANSans', Tahoma, sans-serif;
	}

	table {
		width: 100%;
		border-collapse: collapse;
	}

	th, td {
		border: 1px solid black;
		padding: 8px;
		text-align: right;
	}

	th {
		background-color: #f2f2f2;
	}
</style>
<form asp-action="EditCar" method="post">
	<div class="form-group">
		<label for="Name">CarName</label>
		<input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required />
	</div>
	</div>
	<div class="input-group mb-2">
		<label class="input-group-text" for="inputGroupSelect01">company</label>
		<select class="form-select" id="inputGroupSelect01" name="company">
			<option selected value="@Model.Company">Choose Company</option>
			<option value="0" required>@CompanyEnum.IranKhodro</option>
			<option value="1" required>@CompanyEnum.Saipa</option>
		</select>
	</div>
	<button type="submit" class="btn btn-primary">ویرایش</button>
</form>
@if (TempData["Failed to Edit car"] != null)
{
	<div class="alert alert-danger">@TempData["Failed to Edit car"] </div>
}

