@using App.Domain.Core.MoayeneFani.Requests.Entities;
@model List<Request>
@{
	ViewData["Title"] = "See All Requests";
}
<h2>همه ی درخواست ها</h2>
<style>
	body {
		direction: rtl;
		font-family: 'IRANSans', Tahoma, sans-serif;
	}

	table {
		width: 100%;
		border-collapse: collapse;
	}

	th, td {
		border: 1px solid black;
		padding: 8px;
		text-align: right;
	}

	th {
		background-color: #f2f2f2;
	}
</style>
<table class="table">
	<thead>
		<tr>
			<th>OwnerName</th>
			<th>NationalCode</th>
			<th>Plate</th>
			<th>Car Name</th>
			<th>Car Id</th>
			<th>Car Company</th>
			<th>Date</th>
			<th>TimeOfRequest</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.OwnerName</td>
				<td>@item.NationalCode</td>
				<td>@item.Plate</td>
				<td>@item.CarName</td>
				<td>@item.CarId</td>
				<td>@item.Company</td>
				<td>@item.Company</td>
				<td>@item.TimeOfRequest</td>
				<td><a class="btn btn-success" asp-action="UpdateRequest" asp-controller="Request" asp-route-id=@item.RequestId asp-route-WantToDo="@true">Accept</a></td>
				<td><a class="btn btn-danger" asp-action="UpdateRequest" asp-controller="Request" asp-route-id=@item.RequestId asp-route-WantToDo="@false">deny</a></td>
			</tr>
		}
	</tbody>
</table>
<a class="btn btn-primary" asp-action="OpratorsHomePage" asp-controller="Oprator">بازگشت به صفحه ی اصلی</a>
@* <a class="btn btn-primary" asp-action="AddUser" asp-controller="User">Add user</a> *@
@if (TempData["Error in Update Request"] != null)
{
	<div class="alert alert-danger">@TempData["Error in Update Request"] </div>
}
@if (TempData["Succes Update Request"] != null)
{
	<div class="alert alert-success">@TempData["Succes Update Request"] </div>
}

