@using App.Domain.Core.MoayeneFani.Cars.Entities;
@model List<Car>
@{
	ViewData["Title"] = "Set a Request";
}
<h2>ایجاد درخواست</h2>
<style>
	body {
	direction: rtl;
	font-family: 'IRANSans', Tahoma, sans-serif;
	}

	table {
	width: 100%;
	border-collapse: collapse;
	}

	th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: right;
	}

	th {
	background-color: #f2f2f2;
	}
</style>
<form asp-action="WriteRequest" method="post">
	<div class="form-group">
		<label for="NewRequest.OwnerName">Ownername</label>
		<input type="text" class="form-control" id="NewRequest.OwnerName" name="NewRequest.OwnerName" required />
	</div>
	<div class="input-group mb-3">
		<label class="input-group-text" for="inputGroupSelect01">carId</label>
		<select class="form-select" id="inputGroupSelect01" name="NewRequest.CarId">
			<option selected>Choose gender...</option>
			@foreach(var item in Model)
			{
				<option value="@item.CarId" required>@item.Name - @item.Company</option>
			}
		</select>
	</div>
	<div class="form-group">
		<label for="NewRequest.NationalCode">NationalCode</label>
		<input type="text" class="form-control" id="NewRequest.NationalCode" name="NewRequest.NationalCode" required />
	</div>
	<div class="form-group">
		<label for="NewRequest.Plate">Plate</label>
		<input type="text" class="form-control" id="NewRequest.Plate" name="NewRequest.Plate" required />
	</div>
	<div class="form-group">
		<label for="NewRequest.ProductionDate">ProductionDate</label>
		<input type="date" class="form-control" id="NewRequest.ProductionDate" name="NewRequest.ProductionDate" required />
	</div>
	<div class="form-group">
		<label for="NewRequest.City">ctiy</label>
		<input type="text" class="form-control" id="NewRequest.City" name="NewRequest.City" required />
	</div>
	<div class="form-group">
		<label for="NewRequest.Street">street</label>
		<input type="text" class="form-control" id="NewRequest.Street" name="NewRequest.Street" required />
	</div>
	<button type="submit" class="btn btn-primary">Continue</button>
</form>
@if (TempData["Error in adding to Out of service"] != null)
{
	<div class="alert alert-danger">@TempData["Error in adding to Out of service"] </div>
}
@if (TempData["Worning adding to out of service"] != null)
{
	<div class="alert alert-warning">@TempData["Worning adding to out of service"] </div>
}
@if (TempData["Error in setting a Request"] != null)
{
	<div class="alert alert-danger">@TempData["Error in setting a Request"] </div>
}
@if (TempData["succes in setting Request"] != null)
{
	<div class="alert alert-success">@TempData["succes in setting Request"] </div>
}


